<template name="appLayout">

  {{>navigation}}

<div class="container-fluid">

  <div class="row">


          <div class="col-lg-10 col-lg-offset-1">

          {{>yield}} <!-- load page here based on routing rules -->

          </div>

</div> <!-- END row -->

<br> <br><br> <br>

</div> <!-- end main content container -->

</template>
