<template name="app">

{{#each getInvoice}}

  <div class="well">

  <form>

    <div class="row"> <!-- top row for invoice header part -->

  <div class="col-lg-5">

    {{>logo}}

  </div> <!-- end col for logo side -->

  <div class="col-lg-5 col-lg-offset-2"> <!-- col for invoice right header -->

    <h2> INVOICE </h2>

<input type="hidden" id="invoiceDBid" value="{{_id}}" >

   </div> <!-- end col for invoice right header part -->

</div> <!-- end row for top header part -->

<div class="row"> <!-- row for owner/client info and invoice meta -->

    <div class="col-lg-5">  <!-- col for address -->

      <div class="form-group">
        <textarea class="form-control" id="ownerAddress" placeholder="Name and address of the sender" value="{{ownerAddress}}"></textarea>
      </div>

      <div class="form-group">

        <textarea class="form-control" id="clientAddress" placeholder="Name and address of the receiver" value="{{clientAddress}}"></textarea>
      </div>


    </div>  <!-- END col for address -->

    <div class="col-lg-5 col-lg-offset-2"> <!-- col for invoice meta -->

      <div class="form-group">
        <label for="invoice number">Invoice Number</label>
        <input type="text" class="form-control" id="invoiceNumber" placeholder="Invoice Number">
      </div>

      <div class="form-group">
        <label for="creation date">Date</label>
        <input type="text" class="form-control datetimepicker" id="date-created" placeholder="click to choose date" value="{{dateCreated}}">
      </div>

      <div class="form-group">
        <label for="Due Date"> Due Date </label>

        <input class="form-control datetimepicker" id="due-date" placeholder="click to pick a date" type="text" value="{{dueDate}}"/>

      </div>





      <div class="form-group">
        <label for="due balance"> Balance Due </label>
        <input type="text" class="form-control" id="dueBalance" placeholder="due balance" value="{{balanceDue}}">
      </div>

    </div> <!-- End col for client invoice meta -->

</div> <!-- END row for owner/client info and invoice meta -->



<div class="row table-header-row"> <!-- row for item/product/service list & descriptions container -->

  <div class="table-header-index col-lg-1">

        <input class="item-index-header form-control" value="Index">

  </div> <!-- end table-header-item Index-->

  <div class="table-header-itemName col-lg-5">

        <input class="item-label form-control" value="Item">

  </div> <!-- end table-header-itemName -->

  <div class="table-header-quantity col-lg-2">

      <input class="quantity-label form-control" value="Quantity">

  </div> <!-- end table-header-quantity -->

  <div class="table-header-rate col-lg-2">

      <input class="rate-label form-control" value="Rate">

  </div> <!-- end table-header-rate -->

  <div class="table-header-amount col-lg-2">

        <input class="amount-label form-control" value="Amount">

  </div> <!-- end table-header-amount -->


</div>  <!-- end row for table-header -->

<br>


{{#each itemCounter}}


{{>itemBody}}


{{/each}}



 </form>



 <div class="row"> <!-- row for add item button -->

 <div class="col-lg-12">
 <br>
     <button class="itemAddBtn btn btn-sm btn-info"> Add More Item </button>

 </div>

 </div> <!-- end row for add item btn -->



<div class="row finalCalcDiv"> <!-- row for final calculation -->

    <div class="row">
        <div class="col-lg-3 form-inline pull-right">

          <label for="amount subtotal"> Subtotal </label>
          <input type="text" id="subtotal" value="{{subtotal}}" class="form-controlX pull-right">

        </div>
      </div>

    <div class="row">

        <div class="col-lg-3 form-inline pull-right">

          <label for="amount discounted"> Discount</label>
          <input type="text" id="discount" class="pull-right" placeholder="%" value="{{discount}}">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 form-inline pull-right">

          <label for="amount for Tax ">Tax </label>
          <input type="text" id="tax" class="pull-right" placeholder="%" value="{{tax}}">

        </div>

    </div>

    <div class="row">

        <div class="col-lg-3 form-inline pull-right">

          <label for="total Amount "> Total </label>
          <input type="text" id="total" class="form-controlX pull-right" value="{{totalAmount}}">

        </div>

    </div>

    <div class="row">

        <div class="col-lg-4 form-inline pull-right">

        <label for="Paid Amount "> Amount Paid </label>
        <input type="text" id="amountPaid" class="form-controlX pull-right" value="{{paidAmount}}">

    </div>

  </div>

</div>  <!-- END row for final calculations -->


<div class="row"> <!-- Row for Notes -->

  <div class="col-lg-12">

    <div class="form-group">
      <label> Notes </label>
      <textarea class="form-control" id="notes" placeholder="Notes for the client" value="{{notes}}"></textarea>
    </div>

  </div>
</div> <!-- END row for notes -->

<div class="row"> <!-- Row for terms and conditions -->

  <div class="col-lg-12">

    <div class="form-group">
      <label> Terms and Conditions </label>
      <textarea class="form-control" id="terms" placeholder="Terms and Conditions" value="{{terms}}"></textarea>
    </div>

  </div>
</div> <!-- END Row for terms and conditions -->


</div> <!-- end well -->


  {{/each}}


    {{>retrieve}}

</template>
