
<Template name="itemBody">

<div class="row table-body-row"> <!-- row for table-body -->

  <div class="table-body-itemIndex col-lg-1">

        <input type="text" name="item-index" class="item-index form-control" value="{{itemIndex}}" itemID="{{_id}}" >

  </div> <!-- end table-header-itemName -->


  <div class="table-body-itemName col-lg-5">

        <input type="text" name="itemTitle" itemID="{{_id}}" class="item-name form-control" placeholder="Item name and description" value="{{itemTitle}}">

  </div> <!-- end table-header-itemName -->

  <div class="table-body-quantity col-lg-2">

        <input type="text" name="itemQuantity" itemID="{{_id}}" value="{{quantity}}" class="item-quantity form-control itemTracker" placeholder="1">

  </div> <!-- end table-header-quantity -->

  <div class="table-body-rate col-lg-2">

        <input type="text" name="itemRate"  itemID="{{_id}}" value="{{rate}}" class="item-rate form-control itemTracker" placeholder="$ / unit">

  </div> <!-- end table-header-rate -->

  <div class="table-body-amount col-lg-2 input-group">

        <input type="text" name="itemAmount"  itemID="{{_id}}" value="{{amount}}" class="itemAmount form-control">

              <div class="input-group-addon delete-btn-div">

              <button type="button"  class="btn btn-sm btn-default itemRemoveBtn" itemID="{{_id}}" tabindex="55">
                      <i class="glyphicon glyphicon-trash"></i>
              </button>

              </div>

  </div> <!-- end table-header-amount -->



</div>  <!-- end row for table-body -->

</Template>
