<Template name="logo">

  <!-- logo upload -->

  <div class="form-group">


    <div class="logo-div">

      {{#each getLogo}}

      <a href="{{this.url}}" target="_blank"><img src="{{this.url}}" alt="" class="logo-img" width="150px" height="150px" /></a>

      {{/each}}

  </div>
    <br>
    <input type="file" id="logoUpload" class="btn btn-sm btn-default">
    <p class="help-block"> Upload the logo (jpg/png file) of your business</p>

  </div>

  <!-- end logo upload -->

</template>
