<template name="retrieve">

  <div class="modal fade" id="modal-to-retrieve" tabindex="-1" role="dialog" aria-labelledby="retrieve invoice">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-capitalize" id="retrieveModalLabel">Retrieve your previous invoice</h4>

          <small> Enter the auto generated guest User ID and Invoice ID of your past session </small>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="ENTER user id"> Previous Guest User ID </label>
            <input type="text" class="form-control" id="guest-user-id" placeholder="">
          </div>

          <div class="form-group">
            <label for="enter invoice id">Previous Invoice ID </label>
            <input type="text" class="form-control" id="prev-invoice-id">
          </div>
          <small id="query-feedback"> </small>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="retrieve-invoice-btn">Retrieve</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>

</template>
