.logo-div {
  height: 150px;
  width: 150px;
  background-color: #fff8dc;
}

.table-header-row input{

  background-color: #f5f5dc;
}

.finalCalcDiv{

  padding-right: 1.2%;


}
.finalCalcDiv div {
  margin-top: 5px;
}

.delete-btn-div{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.table-body-amount .input-group-addon{

  padding: 0;
  background-color: #eeeeee;
}
.itemRemoveBtn{

  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  border: 0;
  background-color: #eeeeee;
  color: #642408;
}

.table-body-amount{
    width: 15.33%;
    padding-left: 1.33%!important;
}
