<template name="navigation">

<nav class="navbar navbar-top navbar-default">

  <div class="navbar-header">
  <a class="navbar-brand" href="/"> Instant Invoice </a>
</div>

    <ul class="nav navbar-nav">

       <li class=""> <a href="{{pathFor 'message'}}"> My Invoices</a> </li>

    </ul>

    <span class="user-name  pull-right"> Welcome <strong> Guest User! </strong> &#160; &nbsp;

            Your User ID : <label id="userID">  4322433 </label> &#160;

            Invoice ID :  <label id="invoiceID"> 3323 </label> &#160; &nbsp;

<button class="btn btn-info btn-sm navbar-btn" id="logIN" > Log In </button> &#160; &nbsp;
<button class="btn btn-warning btn-sm navbar-btn" id="retrieve" data-toggle="modal" data-target="#modal-to-retrieve" > Retrieve </button> &#160; &nbsp;

    </span>


</nav>

</template>
